@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --title: #FFFCF9;
    --bg-button: #E9E6E3;
    --background: linear-gradient(67.08deg, #1E46A3 0%, #000000 48.94%, #C12A23 99.97%);
}

/* body,
header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
} */

body {
    background: var(--background);
    background-repeat: no-repeat;
    background-size: contain;
}

body, main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rocketflix-container {
    /* overflow-x: hidden; */
    width: 100%;
}

.rocketflix-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.rocketflix-header img {
    height: 62px;
    width: 88px;
}

.rocketflix-container .rocketflix-title {
    color: var(--title);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.rocketflix-container .rocketflix-text {
    color: var(--title);
    font-size: 14px;
    font-weight: 400;
    margin: 20px;
    text-align: center;
}

.rocketflix-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    width: 630px;
}

.rocketflix-content img {
    height: 245px;
    width: 171px;
}

.rocketflix-content-title-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rocketflix-content-title-overview h2 {
    color: var(--title);
    font-size: 20px;
    font-weight: bold;
}

.rocketflix-content-title-overview p {
    color: var(--title);
    font-size: 16px;
    font-weight: 500;
}

.rocketflix-btn-box {
    align-items: center;
    display: flex;
    justify-content: center;
}

.rocketflix-btn-box .rocketflix-button {
    align-items: center;
    display: flex;
    background-color: var(--bg-button);
    border-radius: 5px;
    flex-direction: row;
    height: 48px;
    justify-content: center;
    width: 180px;
}

.rocketflix-btn-box .rocketflix-button:hover {
    background: #D9D8D8;
    cursor: pointer;
}

.rocketflix-btn-box .rocketflix-button .rocketflix-button-text {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    margin-left: 17px;
}

@media (max-width: 600px) {
    body {
        min-height: 100vh;
    }
    
    .rocketflix-content {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        width: auto;
    }

    .rocketflix-content-title-overview h2,  .rocketflix-content-title-overview p{
        display: flex;
        justify-content: center;
    }

    .rocketflix-content-title-overview p{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .rocketflix-container .rocketflix-text {
        font-size: 12px;
    }
  }

  @media (min-width: 600px) {
    .rocketflix-container {
        height: 100vh;
    }
    
  }